streamlit>=1.42.0
pandas>=2.2.3
numpy>=2.2.1	
matplotlib>=3.10.0
plotly>=6.0.0
seaborn>=0.13.2
# Bluesky client
atproto>=0.0.58
# Network analysis
networkx>=3.4.2
python-louvain>=0.16
huggingface-hub>=0.29.1
python-dateutil>=2.8.0
